.collection-thumbnail{
    margin-bottom:60px;

}

.album-overlay{
    .recipe1{
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 1;
        -webkit-transform: rotate(10deg);
    }

    .recipe2{
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 1;
        -webkit-transform: rotate(5deg);
    }
}

.collection-thumbnail-image{
    width: 80%;
    max-width: 300px;
    position: relative
}

.collection-thumbnail-image-border{
    height: 95%;
    width: 95%;
    position: absolute;
    margin-left: 2.5%;
    margin-top: 2.5%;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    z-index: 3;
}

.collection-image{
    position: relative;
    top: 20px;
    left: 20px;
    z-index: 2;
    // -webkit-transform: rotate(5deg);
}

.collection-thumbnail-info{
    position: relative;
    left: 20px;
    width: 80%;
    z-index: 3;
    background-color: white;
    height: 60px;
    max-width: 300px;
    margin-top: 20px;

    .collection-thumbnail-details{
        margin-right: 5px;
        margin-left: 10px;
    }

    span{
        margin-top: 20px;
    }

   .collection-thumbnail-name{

        width: 65%;
        float: left;
        // margin-left: 10px;

        h3{
        }
        a{
            color: inherit;
            text-decoration: none;
        }

        a:hover{
            color: $link-hover-color;
        }
    }

    .collection-thumbnail-count{
        width: 30%;
        float: right;

        p{
        font-size: 14px;
        }
    }

}