.onboarding-main{
    background-color: white;
    padding: 0;
}

.onboarding-banner{
    padding: 2.5em 0;
    background-size: cover;
    background-image:
        linear-gradient($secondary-color-overlay, $secondary-color-overlay),
        url('/images/background_only-copy2.jpg');

    h2{
        color: white;
    }
}

.carousel-indicators{
    bottom: 0;

    li{
        background-color: $secondary-color;
        opacity: 0.7;
        cursor: default;
    }

    .active{
        background-color: $secondary-color;
        opacity: 1;
    }
}

