.onboarding-howitworks{

    margin-top: 60px;
    padding-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;

    h4{
        text-align: center;
    }
}

.howitworks-videoWrapper {
    margin-bottom: 5em;
}