.recipe-thumbnail{
    margin-bottom:30px;
}

.recipe-thumbnail-image-border{
    height: 95%;
    width: 95%;
    position: absolute;
    margin-left: 2.5%;
    margin-top: 2.5%;
    border-style: solid;
    border-color: white;
    border-width: 2px;
}

.recipe-thumbnail-image{
    margin: 0 auto;
    position: relative;
    max-width: 300px;
}

.recipe-thumbnail-info{
    margin: 0 auto;
    background-color: white;
    height: 82px;
    max-width: 300px;
}

.recipe-thumbnail-likes{
    width: 15%;
    float: right;
    margin-top: 10px;
    text-align: center;

    a{
        cursor: pointer;
    }

    i{
        font-size: 20px;
        color: $primary-color;
    }
}

.recipe-thumbnail-details{

    width: 80%;
    padding-left: 10px;
    float: left;

}

.recipe-thumbnail-tags{

    span{
        font-size: 12px;
        border-width: 1px;
        border-style: solid;
        border-radius: 10px;
        padding: 1px;
        padding-left: 5px;
        padding-right: 5px;
        color: $secondary-color;
    }
}

.recipe-thumbnail-name{

    display: -webkit-box;
    white-space: nowrap;
    max-width: 100%;
    line-height: 1;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    a{
        color: inherit;
        text-decoration: none;
    }

    a:hover{
        color: $link-hover-color;
    }
}

@media #{$mobile-width}{

    .recipe-thumbnail-image{
        margin: 0 auto;
    }

    .recipe-thumbnail-info{
        margin: 0 auto;
    }
}