.submit-recipe-div{
    label{
        font-size: 16px;
        font-family: lato;
        font-weight: 200;
    }
}

.input-lg{
    font-size: 16px;
}

.scrape-recipe-input{
    border-radius: 0;
    box-shadow: none;
    font-family: $font-heading;

    &:focus {
    border: solid 1px #ccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: none;
    -moz-transition: none;
    -webkit-transition: none;
    }
}

.recipe-scrape-btn{

    background-color: $button-color;
    opacity: 0.9;

    .btn {
        background-color: transparent;
        color: white;
        font-size: 20px;
    }

    &:hover{
        opacity: 1;
    }

}

.submit-recipe-form{

    input{
        border: none;
        border-radius: 0;
        box-shadow: none;
        font-family: $font-heading;

        &:focus {
        border: solid 1px #ccc;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        transition: none;
        -moz-transition: none;
        -webkit-transition: none;
        }

    }
}

.refresh-btn{

    border-radius: 0;
    margin-top: 25px;
    height: 46px;
    background-color: grey;
    color: white;
    opacity: 0.9;

    &:hover{
        opacity: 1;
        color: white;
    }

    i{
        font-size: 1.25em;
    }
}

.image-upload-waiting{
    font-size: 5em;
    margin-top: 1.5em;
    margin-bottom: 2em;
}

.image-crop-area{
    p{
        float: left;
        margin-right: 10px;
        margin-top: 10px;
        font-size: 12px;
    }

}
.cropArea{
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.ingredient{
    margin-bottom: 14px;
}
.ingredient-name{
    margin-left: 3px;
}

.ingredient-del-btn{

    background: transparent;
    border: none;
    vertical-align: middle;
    margin-top: 9px;
    margin-left: 4px;
    opacity: 0.9;

    &:hover{
        opacity: 1;
    }
}

.ingredient-add-btn{

    background: transparent;
    border: none;
    margin-left: 4px;
    opacity: 0.9;

    &:hover{
        opacity: 1;
    }
}

.submit-recipe-tags{
    padding-left: 0;
    margin-bottom: 20px;
}

.submit-recipe-tag{

    margin: 0;
    float: left;
    margin-right: 10px;

    input[type="checkbox"] {
        display:none;

    }

    input[type="checkbox"] + label span {
        transition: background-color 0.2s ease-in-out;
        display: inline-block;
        border-width: 1px;
        border-style: solid;
        border-radius: 10px;
        padding: 1px;
        padding: 1px 5px;
        color: $secondary-color;
        cursor: pointer;
        font-family: $font-heading;
    }

    input[type="checkbox"]:checked + label span {
        transition: background-color 0.2s ease-in-out;
        background-color: $secondary-color !important;
        color: white;
    }
}

.recipe-submit-btn{

    background-color: $button-color;
    border: none;
    opacity: 0.9;
    // top: 2em;

    &:hover{
        opacity: 1;
    }

    h4{
        color: white;
        margin: 0;
        padding: 10px;
    }

}

.recipe-submit-success{
    float: none;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 0;
    padding-bottom: 2em;

    .submit-recipe-banner{
        padding: 2.5em 0;
        background-color: $secondary-color;

        h3{
            color: white;
        }

        h4{
            color: white;
        }
    }

    .submit-recipe-success-content{
        margin: 20px;
        padding-bottom: 20px;

        img{
            float: none;
            margin-bottom: 30px;
            margin-top: 20px;
        }
    }
}

.loading{
    float: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12em;

    i{
        font-size: 6em;
        color: $secondary-color;
        margin-bottom: 10px;
    }

    h2{
        font-weight: 100;
    }
}