.submitted-recipes{
    float: none;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

.submitted-recipe{
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    margin-bottom: 15px;

    a{
        color: inherit;
        text-decoration: none;
    }

    a:hover{
        color: $link-hover-color;
    }

    img{
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .fa-check{
        font-size: 20px;
        color: green;
    }

    .fa-times{
        font-size: 20px;
        color: salmon;
    }
}
