<div ng-if="loading" class='col-md-4 text-center loading'>
    <i class="fa fa-spinner fa-pulse"></i>
    <h1>collecting some recipes...</h1>
</div>
<div class='discover' ng-if="loading == false">
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 recipe-thumbnail recipe-thumbnail nga-fast nga-slide-up" ng-repeat="recipe in recipes | limitTo: limit">
        <div class='recipe-thumbnail-image'>
            <a href="#" ng-click="getRecipe(recipe.local_id)">
                <div class='recipe-thumbnail-image-border'>
                </div>
                <img class="img-responsive" ng-src='{{ recipe.image_url }}' alt="">
            </a>
        </div>
        <div class='recipe-thumbnail-info'>
            <div class='recipe-thumbnail-details'>
                <div class='recipe-thumbnail-name'>
                    <h4>
                        <a href="#" title="{{recipe.name}}" ng-click="getRecipe(recipe.local_id)">{{recipe.name}}</a>
                    </h4>
                </div>
                <div class='recipe-thumbnail-tags'>
                    <span ng-if="recipe.category_tags[0]"> {{ recipe.category_tags[0].name}}</span>
                    <span ng-if="recipe.collection_tags[0]">{{ recipe.collection_tags[0].name}}</span>
                    <span ng-if="recipe.diet_tags[0]">{{ recipe.diet_tags[0].name}}</span>
                </div>
            </div>
            <div class='recipe-thumbnail-likes'>
                <a class="recipe-thumbnail-like" ng-click="likeClick($index, recipe.local_id)">
                    <i ng-if="recipe.has_user_liked == true" class="fa fa-heart"></i>
                    <i ng-if="recipe.has_user_liked == false" class="fa fa-heart-o"></i>
                </a>
                <br>
                <b>{{recipe.no_of_likes}}</b>
            </div>
        </div>
    </div>
    <button class="col-md-4 col-sm-4 col-xs-6 showMore-btn custom-center" ng-hide="limit >= recipes.length || recipes.length == null" ng-click="limit = limit + 40" ><h4>SHOW MORE</h4></button>
</div>
