<div class='onboarding-main col-lg-4 col-md-6 col-sm-8 col-xs-11 custom-center'>
    <div class='onboarding-banner text-center'>
        <!-- <div class='onboarding-banner-overlay'/> -->
        <h2>Change Password</h2>
    </div>
    <div class="onboarding-content">
        <div class='onboarding-userinfo'>
            <form role="form" ng-submit="changePassword(changePasswordForm)" name="changePasswordForm" ng-if="pwdChanged == false">

                <!-- NEW PASSWORD -->
                <div class="form-group">
                    <input name="password" id="id_password" type="password" ng-model="password.new_password1" placeholder="New Password" class="form-control user-input" required />
                </div>
                <div class="alert alert-danger" ng-repeat="error in errors.new_password1">{{error}}</div>

                <!-- NEW PASSWORD REPEAT -->
                <div class="form-group">
                    <input name="password" id="id_password" type="password" ng-model="password.new_password2" placeholder="Repeat Password" class="form-control user-input" required />
                </div>
                <div class="alert alert-danger" ng-repeat="error in errors.new_password2">{{error}}</div>

                <!-- SUBMIT BUTTON -->
                <button type="submit" class="onboarding-btn"><h3>SUBMIT</h3></button>
            </form>
            <div ng-if="pwdChanged" class='custom-center text-center'>
                <div  class="alert alert-success" role="alert">Password successfully changed</div>
                <button type='button' class="recipe-submit-btn" ng-click="gotoUserProfile()"><h5>Back to Profile</h5></button>
            </div>
        </div>
    </div>
</div>
