<div ng-if="loading" class='col-md-4 text-center loading'>
    <i class="fa fa-spinner fa-pulse"></i>
    <h1>building your cookbook...</h1>
</div>

<div class='collections'>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 collection-thumbnail recipe-thumbnail nga-fast nga-slide-up" ng-repeat="collection in collections">
        <div class='collection-thumbnail-image'>
            <a href="#" ng-click="getCollection(collection.name)">
                <div class='album-overlay'>
                    <img class="recipe1 img-responsive" src='https://s3.amazonaws.com/ltei-recipe-images/overlay-images/recipe1.jpg'>
                    <img class="recipe2 img-responsive" src='https://s3.amazonaws.com/ltei-recipe-images/overlay-images/recipe2.jpg'>
                </div>
                <div class='collection-image'>
                    <div class='collection-thumbnail-image-border'>
                    </div>
                    <img class="img-responsive" ng-src='{{ collection.recipes | user_liked_image }}'>
                </div>
            </a>
        </div>
        <div class='collection-thumbnail-info'>
            <div class='collection-thumbnail-details'>
                <span class='collection-thumbnail-name'>
                <p>
                    <a href="#" ng-click="getCollection(collection.name)">{{ collection.name }}</a>
                </p>
                </span>
                <span class='collection-thumbnail-count'>
                    <p><i>{{ collection.recipes | user_liked_recipe_count }} recipes</i></p>
                </span>
            </div>
        </div>
    </div>
</div>