<div class='feed'>
    <div ng-if='collection' class='feed-latest-collections'>
         <div class='feed-latest-collection'>
            <div class='collection-thumbnail-image'>
                <a href="#" ng-click="getCollection(collection[0].name)">
                    <div class='album-overlay'>
                        <img class="recipe1 img-responsive" src='https://s3.amazonaws.com/ltei-recipe-images/overlay-images/recipe1.jpg'>
                        <img class="recipe2 img-responsive" src='https://s3.amazonaws.com/ltei-recipe-images/overlay-images/recipe2.jpg'>
                    </div>
                    <div class='collection-image'>
                        <div class='collection-thumbnail-image-border'>
                        </div>
                        <img class="img-responsive" ng-src='{{ collection[0].recipes[0].image_thumbnail_url }}'>
                    </div>
                </a>
            </div>
            <div class='feed-collection-thumbnail-name'>
                <h2>
                    <a href="#" ng-click="getCollection(collection[0].name)">{{ collection[0].name }}</a>
                </h2>
            </div>
        </div>
        <div class='feed-latest-collection'>
            <div class='collection-thumbnail-image'>
                <a href="#" ng-click="getCollection(collection[1].name)">
                    <div class='album-overlay'>
                        <img class="recipe1 img-responsive" src='https://s3.amazonaws.com/ltei-recipe-images/overlay-images/recipe1.jpg'>
                        <img class="recipe2 img-responsive" src='https://s3.amazonaws.com/ltei-recipe-images/overlay-images/recipe2.jpg'>
                    </div>
                    <div class='collection-image'>
                        <div class='collection-thumbnail-image-border'>
                        </div>
                        <img class="img-responsive" ng-src='{{ collection[1].recipes[0].image_thumbnail_url }}'>
                    </div>
                </a>
            </div>
            <div class='feed-collection-thumbnail-name'>
                <h2>
                    <a href="#" ng-click="getCollection(collection[1].name)">{{ collection[1].name }}</a>
                </h2>
            </div>
        </div>
    </div>

    <div class='feed-last-liked large-image-div'>
        <div class="col-md-12 last-liked">
            <div class= 'recipe-details-image'>
                <a href="#" ng-click="getRecipe(like.local_id)">
                    <div class='recipe-details-image-border'>
                    </div>
                    <img class="img-responsive" ng-src='{{ like.image_url }}'>
                </a>
            </div>
            <div class='feed-last-like-name'>
                <h2>
                    <a ng-if='lastLike' href="#" ng-click="getRecipe(like.local_id)">Recently Liked</a>
                    <a ng-if='lastLike == false'href="#" ng-click="getRecipe(like.local_id)">Most Popular</a>
                </h2>
            </div>
        </div>
    </div>

    <div class='feed-latest-popular-recipes thumbnail-div '>
        <div class="col-md-12 portfolio-item feed-thumbnail">
            <div class='recipe-thumbnail-image'>
                <a href="#" ng-click="getRecipe(popularRecipe[0].local_id)">
                    <div class='recipe-thumbnail-image-border'>
                    </div>
                    <img class="img-responsive" ng-src='{{ popularRecipe[0].image_thumbnail_url }}' alt="">
                </a>
            </div>
            <div class='feed-thumbnail-name'>
                <h2>
                    <a href="#" ng-click="getRecipe(popularRecipe[0].local_id)">TRENDING</a>
                </h2>
            </div>
        </div>

        <div class="col-md-12 portfolio-item feed-thumbnail">
            <div class='recipe-thumbnail-image'>
                <a href="#" ng-click="getRecipe(popularRecipe[1].local_id)">
                    <div class='recipe-thumbnail-image-border'>
                    </div>
                    <img class="img-responsive" ng-src='{{ popularRecipe[1].image_thumbnail_url }}' alt="">
                </a>
            </div>
            <div class='feed-thumbnail-name'>
                <h2>
                    <a href="#" ng-click="getRecipe(popularRecipe[1].local_id)">Recipe of the Week</a>
                </h2>
            </div>
        </div>
    </div>

    <div class='feed-latest-popular-recipes thumbnail-div'>
        <div class="col-md-12 portfolio-item feed-thumbnail">
            <div class='recipe-thumbnail-image'>
                <a href="#" ng-click="getRecipe(latestRecipe[0].local_id)">
                    <div class='recipe-thumbnail-image-border'>
                    </div>
                    <img class="img-responsive" ng-src='{{ latestRecipe[0].image_thumbnail_url }}' alt="">
                </a>
            </div>
            <div class='feed-thumbnail-name'>
                <h2><a href="#" ng-click="getRecipe(latestRecipe[0].local_id)">Just Added</a>
                </h2>
            </div>
        </div>
        <div class="col-md-12 portfolio-item feed-thumbnail">
            <div class='recipe-thumbnail-image'>
                <a href="#" ng-click="getRecipe(latestRecipe[1].local_id)">
                    <div class='recipe-thumbnail-image-border'>
                    </div>
                    <img class="img-responsive" ng-src='{{ latestRecipe[1].image_thumbnail_url }}' alt="">
                </a>
            </div>
            <div class='feed-thumbnail-name'>
                <h2>
                    <a href="#" ng-click="getRecipe(latestRecipe[1].local_id)">Just Added</a>
                </h2>
            </div>
        </div>
    </div>
</div>