<section id="faq">
    <div class="text-center landing-page-heading">
        <h2 class="section-heading heading-white">Frequently Asked Questions</h2>
    </div>
    <div class='faqs col-lg-6 col-md-8 col-sm-10 col-xs-12 custom-center'>
        <uib-accordion close-others="oneAtATime" >
            <uib-accordion-group heading="{{faq.question}}" ng-repeat="faq in faqs">
            {{faq.answer}}
            </uib-accordion-group>
        </uib-accordion>
    </div>
    <div class="cta-services text-center">
        <a href="#" ng-click='register()' du-smooth-scroll class="btn btn-primary page-scroll">
            Sign Up Now</i>
        </a>
    </div>
</section>
<section class="howitworks" id="how_it_works">
    <div class="text-center landing-page-heading">
        <h2 class="section-heading heading-white">How It Works</h2>
    </div>
    <br>
    <br>
    <div class="container">
        <div class="col-lg-8 col-md-8 col-sm-10 col-xs-12 custom-center">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/8vSyPaf6QIM"></iframe>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center">
                    <li>
                        <a href="https://twitter.com/lovetoeat_it" target="_blank">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.pinterest.com/lovetoeatit/" target="_blank">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-pinterest fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/love2eatit/" target="_blank">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="https://instagram.com/lovetoeat.it" target="_blank">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                </ul>
                <p class="copyright text-muted">Copyright &copy; 2015, Like To Eat Inc., All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>