<nav id="user-menu" scroll-position="scroll" class="navbar navbar-default navbar-fixed-top" ng-class="{yesScrolling: scroll > 1, notScrolling: scroll <= 0}">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/"><img class='menu-logo' alt="Brand" src='images/logo.png'/></a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <h4><a class='navbar-options' data-target=".navbar-collapse.in" du-smooth-scroll href="#faq">FAQ</a></h4>
                </li>
                <li>
                    <h4><a class='navbar-options' data-target=".navbar-collapse.in" du-smooth-scroll href="#how_it_works">How It Works</a></h4>
                </li>
                <li>
                    <h4><a class='navbar-options' data-target=".navbar-collapse.in" href="#" ng-click='login()'>Login</a><h4>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- <span class='scroll-debug' scroll-position="scroll">{{scroll}}</span> -->
<section id="faq">
    <div class="container landing-page-heading">
        <div class="text-center">
            <div>
                <h2>FAQ</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div>
        <uib-accordion close-others="oneAtATime" class='col-lg-6 col-md-8 col-sm-10 col-xs-12 custom-center'>
            <uib-accordion-group heading="{{faq.question}}" ng-repeat="faq in faqs">
            {{faq.answer}}
            </uib-accordion-group>
        </uib-accordion>
    </div>
    <div class="cta-services text-center">
        <a href="#" ng-click='register()' du-smooth-scroll class="btn btn-primary page-scroll">
            Sign Up Now</i>
        </a>
    </div>
</section>
<section class="howitworks" id="how_it_works">
    <div class="container landing-page-heading">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">How it works</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-lg-8 col-md-8 col-sm-10 col-xs-12 custom-center">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/8vSyPaf6QIM"></iframe>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center">
                    <li>
                        <a href="https://twitter.com/lovetoeat_it" target="_blank">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.pinterest.com/lovetoeatit/" target="_blank">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-pinterest fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/love2eatit/" target="_blank">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="https://instagram.com/lovetoeat.it" target="_blank">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                </ul>
                <p class="copyright text-muted">Copyright &copy; 2015, Like To Eat Inc., All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>