<div ng-if="loading" class='col-md-4 text-center loading'>
    <i class="fa fa-spinner fa-pulse"></i>
    <h2>gathering your recipes...</h2>
</div>
<div class='likes'>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 recipe-thumbnail nga-fast nga-slide-up" ng-repeat="like in likes | limitTo: limit">
        <div class='recipe-thumbnail-image'>
            <a href="#" ng-click="getRecipe(like.local_id)">
                <div class='recipe-thumbnail-image-border'>
                </div>
                <img class="img-responsive" ng-src='{{ like.image_url }}' alt="">
            </a>
        </div>
        <div class='recipe-thumbnail-info'>
            <div class='recipe-thumbnail-details'>
                <div class='recipe-thumbnail-name'>
                    <h5>
                        <a href="#" title="{{like.name}}" ng-click="getRecipe(like.local_id)">{{like.name}}</a>
                    </h5>
                </div>
                <div class='recipe-thumbnail-tags'>
                    <span ng-if="like.category_tags[0]"> {{ like.category_tags[0].name}}</span>
                    <span ng-if="like.collection_tags[0]">{{ like.collection_tags[0].name}}</span>
                    <span ng-if="like.diet_tags[0]">{{ like.diet_tags[0].name}}</span>
                </div>
            </div>
            <div class='recipe-thumbnail-likes'>
                <a class="recipe-thumbnail-like" ng-click="likeClick($index, like.local_id)">
                    <i ng-if="like.has_user_liked == true" class="fa fa-heart"></i>
                    <i ng-if="like.has_user_liked == false" class="fa fa-heart-o"></i>
                </a>
                <br>
                <b>{{like.no_of_likes}}</b>
            </div>
        </div>
    </div>
    <button class="col-md-4 col-sm-4 col-xs-6 showMore-btn custom-center" ng-hide="limit >= likes.length || likes.length == null" ng-click="limit = limit + 40" ><h4>SHOW MORE</h4></button>
</div>
