<div ng-if="loading" class='col-md-4 text-center loading'>
    <i class="fa fa-spinner fa-pulse"></i>
    <h2>just preheating the oven...</h2>
</div>
<div ng-if="loading == false" class='onboarding-main col-lg-4 col-md-6 col-sm-8 col-xs-11 custom-center'>
    <div class='onboarding-banner text-center'>
        <!-- <div class='onboarding-banner-overlay'/> -->
        <h2>Nom Nom Nom</h2>
    </div>
    <div class="onboarding-content">
        <div id="login_view" class='onboarding-userinfo'>
            <form role="form" ng-submit="login(loginForm)" name="loginForm" novalidate>

                <!-- EMAIL -->
                <div class="form-group">
                    <input name="email" id="id_email" type="text" ng-model="model.email" placeholder="Email" class="form-control user-input" required />
                </div>
                <div class="alert alert-danger" ng-repeat="error in errors.email">{{error}}</div>

                <!-- PASSWORD -->
                <div class="form-group">
                    <input name="password" id="id_password" type="password" ng-model="model.password" placeholder="Password" class="form-control user-input" required />
                </div>
                <div class="alert alert-danger" ng-repeat="error in errors.password">{{error}}</div>
                <div class="alert alert-danger" ng-repeat="error in errors.non_field_errors">{{error}}</div>
                <div class="alert alert-danger" ng-if="error">{{error}}</div>


                <!-- SUBMIT BUTTON -->
                <button type="submit" class="onboarding-btn"><h3>LOGIN</h3></button>
            </form>
            <div class="text-center">
                <span><h4>Forgot your<a href="#" ng-click='gotoResetPassword()'> Password</a></h4></span>
            </div>
            <div class="text-center">
                <span><h4>Haven't signed up yet?<a href="#" ng-click='gotoRegister()'> Sign Up</a></h4></span>
            </div>
        </div>
    </div>
</div>