<div class="modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-body modal-signup">
                <div class='onboarding-main col-xs-12 custom-center'>
                    <div class='onboarding-banner text-center'>
                        <!-- <div class='onboarding-banner-overlay'/> -->
                        <h2>Let's Get Cooking</h2>
                    </div>
                    <div class='onboarding-howitworks text-center'>
                        <p>{{message}}</p>
                        <br>
                        <button ng-click='gotoSignup()' data-dismiss="modal" class="onboarding-btn"><h3>Sign Up</h3></button>
                        <button ng-click='gotoLogin()' data-dismiss="modal" class="onboarding-btn onboarding-btn-outline"><h3>Login</h3></button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>