<div class="modal modal-video-main fade" role="dialog">
    <div class="modal-dialog modal-video">
        <div class="modal-content">
            <div class="modal-body">
                <div class="modal-video">
                    <div class="embed-responsive embed-responsive-16by9">
                        <!-- <iframe class="embed-responsive-item" src="{{message|trusted}}" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> -->
                        <iframe width="320" height="440" src="https://www.instagram.com/p/qbq6fIJMVZ/" frameborder="0"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>