<div class='onboarding-diet text-center'>
    <h3 class='heading-unbold'>Do you have any dietary preferences?</h3>
    <br>

    <form name="userDietForm" ng-submit="submitUserForm()" >

        <!-- DIET TAGS -->
        <div class="diet-select form-group col-lg-4 col-md-4 col-sm-4 col-xs-6 text-center custom" ng-repeat="diet_tag in diet_tags">
            <input type="checkbox" id="diet-{{ diet_tag.name }}" class="form-control" ng-model="diet_tag.selected" ng-true-value="'Y'" ng-false-value="'N'" />
            <label for="diet-{{ diet_tag.name }}">
                <span style="background:url({{diet_tag.image_url}}) left top no-repeat; background-size: cover;"></span>
            </label>
            <h4>{{diet_tag.name}}</h4>
        </div>
        <br>
        <!-- SUBMIT BUTTON -->
        <div class='custom-center'>
            <button type="submit" class="next-btn"><h3>Next</h3></button>
        </div>

    </form>
</div>
<ol class="carousel-indicators">
    <li ></li>
    <li class="active"></li>
    <li ></li>
    <li ></li>
</ol>