<h2 class='page-header'>User Information</h2>

<form name="userForm" ng-submit="submitUserForm()" >

    <!-- FIRST NAME -->
    <div class="form-group">
        <label>First Name</label>
        <input type="text" name="first_name" class="form-control" ng-model="user.first_name" ng-required>
    </div>

    <!-- LAST NAME -->
    <div class="form-group">
        <label>Last Name</label>
        <input type="text" name="last_name" class="form-control" ng-model="user.last_name" ng-required>
    </div>

    <!-- EMAIL -->
    <div class="form-group">
        <label>Email</label>
        <input type="text" name="email" class="form-control" ng-model="user.email" ng-required>
    </div>

    <!-- DIET TAGS -->
    <label>Diet Tags</label>
    <div class="form-group" ng-repeat="diet_tag in diet_tags">
        <input type="checkbox" class="form-control" ng-model="diet_tag.selected" ng-true-value="'Y'" ng-false-value="'N'"/>
        {{diet_tag.name}}
    </div>

    <!-- CATEGORY TAGS -->
    <label>Category Tags</label>
    <div class="form-group" ng-repeat="category_tag in category_tags">
        <input type="checkbox" class="form-control" ng-model="category_tag.selected" ng-true-value="'Y'" ng-false-value="'N'"/>
        {{category_tag.name}}
    </div>

    <!-- SUBMIT BUTTON -->
    <button type="submit" class="btn btn-primary">Submit</button>

</form>