<div class='onboarding-main col-lg-4 col-md-6 col-sm-8 col-xs-11 custom-center'>
    <div class='onboarding-banner text-center'>
        <!-- <div class='onboarding-banner-overlay'/> -->
        <h2>Reset Password</h2>
    </div>
    <div class="onboarding-content">
        <div class='onboarding-userinfo'>
            <div ng-if="loading" class='col-md-4 text-center loading'>
                <i class="fa fa-spinner fa-pulse"></i>
            </div>
            <form ng-if="complete == false" role="form" ng-submit="confirmReset(confirmResetForm)" name="confirmResetForm" novalidate>
                <div class="form-group">
                    <input name="password1" id="id_password1" type="password" ng-model="model.new_password1" placeholder="New Password" class="form-control user-input" required />
                </div>
                <div class="alert alert-danger" ng-repeat="error in errors.new_password1">{{error}}</div>
                <div class="form-group">
                    <input name="password2" id="id_password2" type="password" ng-model="model.new_password2" placeholder="Repeat Password" class="form-control user-input" required />
                </div>
                <div class="alert alert-danger" ng-repeat="error in errors.new_password2">{{error}}</div>
                <div class="alert alert-danger" ng-repeat="error in errors.token">Sorry, this URL has expired. Please request a new URL <a href="#" ng-click='gotoResetPassword()'>here</a></div>
                <button type="submit" class="onboarding-btn"><h3>RESET</h3></button>
            </form>
            <div ng-if="complete == true" class='custom-center text-center'>
                <div class="alert alert-success">You have changed your password.</div>
                <button type='button' class="recipe-submit-btn" ng-click="gotoUserProfile()"><h5>LOGIN</h5></button>
            </div>
        </div>
    </div>
</div>
