<div class='onboarding-main col-lg-4 col-md-6 col-sm-8 col-xs-11 custom-center'>
    <div class='onboarding-banner text-center'>
        <!-- <div class='onboarding-banner-overlay'/> -->
        <h1>Reset Password</h1>
    </div>
    <div class="onboarding-content">
        <div class='onboarding-userinfo'>
            <form role="form" ng-submit="resetPassword()" name="loginForm" ng-if='resetPasswordConf == false'>

                <!-- EMAIL -->
                <div class="form-group">
                    <input name="email" id="id_email" class="form-control user-input" type="email" ng-model="email.email" placeholder="Email" required />
                </div>

                <!-- SUBMIT BUTTON -->
                <button type="submit" class="onboarding-btn"><h2>SEND</h2></button>
            </form>
            <div ng-if='resetPasswordConf'>
                <div class="alert alert-success">You should receive an email shortly with instructions on how to reset your account password.</div>
            </div>
        </div>
    </div>
</div>
