<div class='search'>
    <div class='search-term'>
        <h3>{{ recipes.length }} results matching '{{ searchTerm }}'</h3>
    </div>
    <div class="col-md-3 portfolio-item recipe-thumbnail" ng-repeat="recipe in recipes">
        <div class='recipe-thumbnail-image'>
            <a href="#" ng-click="getRecipe(recipe.local_id)">
                <div class='recipe-thumbnail-image-border'>
                </div>
                <img class="img-responsive" ng-src='{{ recipe.image_url }}'>
            </a>
        </div>
        <div class='recipe-thumbnail-info'>
            <div class='recipe-thumbnail-details'>
                <div class='recipe-thumbnail-name'>
                    <h4>
                        <a href="#" ng-click="getRecipe(recipe.local_id)">{{recipe.name}}</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>