<div class='search'>
    <div class='search-term'>
        <h3><span class='heading-unbold'>{{ recipes.length }} results matching</span> '{{ searchTerm }}'</h3>
    </div>
    <br>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 recipe-thumbnail" ng-repeat="recipe in recipes">
        <div class='recipe-thumbnail-image'>
            <a href="#" ng-click="getRecipe(recipe.local_id)">
                <div class='recipe-thumbnail-image-border'>
                </div>
                <img class="img-responsive" ng-src='{{ recipe.image_url }}'>
            </a>
        </div>
        <div class='recipe-thumbnail-info'>
            <div class='recipe-thumbnail-details'>
                <div class='recipe-thumbnail-name'>
                    <h5>
                        <a href="#" ng-click="getRecipe(recipe.local_id)">{{recipe.name}}</a>
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>